
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



/* body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2a4437;
    color: #efe8e8;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 20px 10%;
    background-color: transparent;
    color: #efe8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;  

  }

  .logo {
    font-size: 25px;
    color: #efe8e8;
    font-weight: 600;
  }
  
  .navbar a {
    font-size: 18px;
    color: #efe8e8;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
  }

  .navbar a:hover,
  .navbar a.active {
    color: #317955;
  }

  .home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
  }

  .home.content {
    background: #2a4437;
    max-width: 600pz;
  }

  .home.content h1{
    font-size: 56px;
    font-weight: 700;
  }

  .home.content h3{
    font-size: 32px;
    font-weight: 700;
    color: #317955;
  }


  /* h1 {
    font-size: 36px;
    margin-bottom: 20px;
  } */
  
  /* p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5b9779;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
  }
  
  /* section {
    padding: 40px;
    background-color: #f9f9f9;
    margin-bottom: 40px;
  } */
  
  /* h2 {
    font-size: 24px;
    margin-bottom: 20px;
  } */
  
  /* ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 10px;
  } */ */ */



  body {
    background-color: #111;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
  
  nav {
    margin-left: 35px;
    transition: .3s;
    background-color: #7e7575;
    width: 200px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    left: 0;
    top: 0;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .logo {
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    padding: 10px;
  }
  
  nav li:hover {
    background-color: #555;
  }
  
  nav li.active {
    background-color: #777;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  header {
    margin-left: 200px;
    padding: 40px;
  }
  
  h1, h2 {
    color: #eee;
  }
  
  .intro-paragraph {
    color: #ccc;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    background-color: #777;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }